
/* 
    Created on : 2018-mar-01, 19:41:51
    Author     : Arvid
*/



table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 1vh;
}

tr:nth-child(even){
    background-color: #ffffff
}

th {
    background-color: #365563;
    color: white;
}

.createThread {
    width: 100%;
}

.createThread input {
    display: block;
    margin: 1vh;
}

.createThread textArea {
    display: block;
    resize: none;
    margin: 1vh;
}
