/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2018, 4:55:55 PM
    Author     : Arvid
*/

.gameView {
    margin: auto;
}

button {
    padding: 4vh 4vh;
}

#findGameView {
    display: none;
    float: left;
    padding: 20px;
    width: 30%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

#createGameView {
    display: none;
    float: right;
    padding: 20px;
    width: 30%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}
.rightGameBtn {
    display: block;    
    float: right;
}

.leftGameBtn {
    display: inline-block;    
    float: left;
}

#inGame{
    display: none;
}
#inGame p {
    display: inline-block;
}

#gameBoard {
    margin: auto;
    display: none;
    padding: 20px;
}

.boardPiece {
    display: block;
    float: left;
    margin: 5px;
    width: 100px;
    height: 100px;
    border: 2px solid black; 
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;   
}
.boardPiece:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.boardRow {
    margin:auto;
    display: table;
}