/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 5, 2018, 9:13:03 PM
    Author     : Arvid
*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 1vh;
}

textarea{
    background: #ffffff;
    resize: none;
    height: 14vh;
    width: 100%;
}

input[type=submit]{
    padding: 1px;
    margin: 0.2vh;
}
.threadHeader {
    margin: auto;
    padding: 1vh;
    margin-bottom: 2vh;
    width: 70%;
    height-min: 10vh;
    background: #e6e6e6;
    dislay: table;
    border-radius: 1vh;
}

.createThread {
    margin: auto;
    padding: 1vh;
    margin-bottom: 2vh;
    width: 70%;
    height-min: 10vh;
    background: #e6e6e6;
    dislay: table;
    border-radius: 1vh;
}

.threadPost {
    margin: auto;
    padding: 1vh;
    margin-bottom: 2vh;
    width: 70%;
    height-min: 10vh;
    background: #e6e6e6;
    dislay: table;
    border-radius: 1vh;
}

.threadPostInfo {
    width: 30%;
}

